In [1]:
def get_index(tup, elem):
    ''' input:elem-indicates the element in the tuple,tup-indicates the tuple
         output:Return the index of the element.'''
    
    for i in tup:
        if elem == i:
            return tup.index(i)
    return -1

In [4]:
get_index((1,1,2,3,4,5,1), 1)

0

In [6]:
a = range(10)
list(a[::2])

[0, 2, 4, 6, 8]

In [17]:
def odd_even_split_tuple(tup):
    ''' input:tup-indicates the tuple
         output:print two tuples one for even indexed and odd indexed in the given output format'''
    
    odd = tuple(tup[::2])
    even = tuple(tup[1::2])
    
    print(f"Odd: {odd}")
    print(f"Even: {even}")

In [18]:
odd_even_split_tuple((10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2))

Odd: (10, 5, 10, 10, 5, 8)
Even: (8, 2, 15, 8, 8, 2)

In [19]:
elements = (10, 20, 30, 40, 50, 60, 70, 80)
print(elements[2:5], elements[:4], elements[3:100])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)

In [20]:
a = (1150, 'sea_vel', 909)
max(a)

TypeError: '>' not supported between instances of 'str' and 'int'

In [25]:
def unique_count(tup):
    ''' input:tup-indicates the tuple
         output:Print the unique elements and their frequency'''
    
    seen_items = []
    item_count = []
    
    for i in tup:
        if i in seen_items:
            continue
        else:
            seen_items.append(i)
            item_count.append(tup.count(i))
            
    
    for i, j in zip(seen_items, item_count):
        print(f"{i} : {j}")

In [26]:
unique_count((10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2))

10 : 3
8 : 4
5 : 2
2 : 2
15 : 1

In [23]:
a = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

In [24]:
a.count(10)

3

In [27]:
fruits = ("Orange")

type(fruits)

str

In [28]:
set1 = {1, 2, 4}
set2 = {4, 5, 6}
print(len(set1 + set2))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [36]:
sets = {3, 4, 5} 
sets.add([1, 2 ,3])
print(sets)

TypeError: unhashable type: 'list'

In [37]:
a={'Aurn', 'Nikhil', 'Seeta'}
a[0]= 'Arun'
print(a)

TypeError: 'set' object does not support item assignment

In [38]:
s = set(['Scaler', 'Academy', 'is', 'Awesome'])
s

{'Academy', 'Awesome', 'Scaler', 'is'}

In [40]:
s = set('Scaler', 'Academy', 'is', 'Awesome')
s

TypeError: set expected at most 1 argument, got 4

In [41]:
s = set('Scaler Academy is Awesome')
s

{' ', 'A', 'S', 'a', 'c', 'd', 'e', 'i', 'l', 'm', 'o', 'r', 's', 'w', 'y'}

In [42]:
s ={'Scaler', 'Academy', 'is', 'Awesome'}
s

{'Academy', 'Awesome', 'Scaler', 'is'}

In [46]:
def set_operation(sent1,sent2):
    ''' input:sent1,sent2-two sentences taken as inputs
         output:return the sum of length of unique words.'''
    
    set1 = set(sent1.split(" "))
    set2 = set(sent2.split(" "))
    
    print(len(set1) + len(set2))

In [47]:
s1 = "in data analysis we use data and process it further to create better interpreted data"
s2 = "more and more data will be passively collected"

In [48]:
set_operation(s2,s1)

20

In [21]:
def simple_int(time,pa,ir):
    ''' time, pa, ir represents the time in number of days, principal amount and rate of interest
        Return the simple interest'''
    ans = 0
    # YOUR CODE GOES HERE

    ans = pa * (1 + ir* round(time/356)/100)
    return round(ans,2)

In [22]:
simple_int(365,9172,5.6)

9685.63

In [23]:
simple_int(789,10000.0,1.3)

10260.0

In [30]:
a = (1,2,[10,20])

In [31]:
id(a)

140275925539392

In [32]:
a[2].append(30)

In [33]:
a

(1, 2, [10, 20, 30])

In [34]:
id(a)

140275925539392

SyntaxError: invalid syntax (2301060995.py, line 1)

In [36]:
id(a[0])

140276719085872

In [37]:
id(a)

140275925539392

In [41]:
import ctypes
a = "hello world"
print(ctypes.cast(id(a), ctypes.py_object).value)

hello world

In [44]:
a = (1,2,[10,20])

SyntaxError: unexpected EOF while parsing (1092166680.py, line 1)

In [47]:
import gc

In [51]:
a

(1, 2, [10, 20])

In [52]:
id(a)

140276472247744

In [53]:
id(a[2])

140276472247168

In [54]:
a[2].append(30)

In [55]:
id(a)

140276472247744

In [56]:
id(a[2])

140276472247168

In [57]:
a = [1]

In [58]:
import sys
sys.getsizeof(a)

64

In [59]:
a.append(100)

In [60]:
sys.getsizeof(a)

120

In [4]:
from typing import List, Tuple

def pair_students(names: List[str], locations: List[Tuple[int, int]]) -> Tuple[str, str]:
    min_distance = float('inf')
    students = None
    for i in range(len(names)):
        for j in range(i+1, len(names)):
            distance = abs(locations[i][0] - locations[j][0]) + abs(locations[i][1] - locations[j][1])
            if distance < min_distance:
                min_distance = distance
                students = (names[i], names[j])
    return students

# Test the function
names = ['Alice', 'Bob', 'Charlie', 'Debbie', 'Maxine']
locations = [(1,2),(5,4),(0,3),(2,3),(0,0)]
print(pair_students(names, locations)) # should print ('Alice', 'Bob')

('Alice', 'Charlie')

In [9]:
def nearestStudents(names, locations):
    min_distance = float('inf')
    students = None
    for i in range(len(names)):
        for j in range(i+1, len(names)):
            distance = abs(locations[i][0] - locations[j][0]) + abs(locations[i][1] - locations[j][1])
            if distance < min_distance:
                min_distance = distance
                students = [names[i], names[j]]
    return students

In [10]:
names = ['Alice', 'Bob', 'Charlie', 'Debbie', 'Maxine']
locations = [(1,2),(5,4),(0,3),(2,3),(0,0)]
print(nearestStudents(names, locations))

['Alice', 'Charlie']

In [12]:
from typing import Tuple

def check_point(p1, p2, a, b, c):
    mid_x = (p1[0] + p2[0]) / 2
    mid_y = (p1[1] + p2[1]) / 2

    if a * mid_x + b * mid_y + c == 0:
        return True
    else:
        return False

# Test the function
p1 = (1, 2)
p2 = (3, 4)
a = 2
b = -2
c = 2
print(check_midpoint(p1, p2, a, b, c)) # should print True

True

In [14]:
def gradient(p1, p2):
    # Calculate the gradient of the line using the formula (y2 - y1) / (x2 - x1)
    gradient = (p2[1] - p1[1]) / (p2[0] - p1[0])
    return gradient

# Test the function
p1 = (1, 1)
p2 = (2,2)
print(gradient(p1, p2)) # should print 1.0

1.0

In [16]:
from typing import Tuple

def are_collinear(p1, p2, p3):
    # Calculate the slopes of the lines joining p1-p2 and p2-p3
    m1 = (p2[1] - p1[1]) / (p2[0] - p1[0])
    m2 = (p3[1] - p2[1]) / (p3[0] - p2[0])

    # If the slopes are equal, the points are collinear
    if m1 == m2:
        return True
    else:
        return False

# Test the function
p1 = (1, 2)
p2 = (3, 4)
p3 = (5, 6)
print(are_collinear(p1, p2, p3)) # should print True

p1 = (1, 2)
p2 = (3, 4)
p3 = (5, 7)
print(are_collinear(p1, p2, p3)) # should print False

True
False

In [36]:
class People:

    def __init__(self, name, age):
        self.name = name
        self.age = age

class Baby(People):

    def __init__(self, name, age, area):
        super().__init__(name, age)
        self.area = area

In [37]:
p = People('suman', 37)

In [38]:
b = Baby('reyaan', 3, 'suman')

In [3]:
height = 100
bounce = 1

while bounce <= 3:
    height = height * (3/5)
    bounce += 1

newheight = height

In [9]:
newheight

21.599999999999998

In [12]:
round(newheight, 2)

21.6

In [13]:
stocks = 'a, b, c'
prices = '10,20,30'
shares='1,2,3'

In [21]:
a = stocks.split(',')
b = prices.split(',')
c = shares.split(',')
d = []

for i in range(len(a)):
    d.append(a[i]+b[i]+c[i])

print(d)

['a101', ' b202', ' c303']

In [19]:
b

# Function Minima

In [25]:
def min_value(a,b,c,ll,ul):
	# a,b,c -> Integers. Coefficients of quadratic equation ax^2 + bx + c = 0
	# ll -> Integer. Lower limit of variable x
	# ul -> Integer. Upper Limit of variable x

	# return the Integer value of x for which the quadratic equation attains minimum value
	result = float('inf')
	# code starts here

	for i in range(ll, ul+1):
		derivative = 2 * a * i + (b)
		temp_ans = abs(derivative)
		# print(i, temp_ans)
		if temp_ans < result:
			result = temp_ans 
			ans = i 

	#code ends here
	return ans

In [26]:
a, b, c = 2, -20, 6
ll, ul = 1, 15

min_value(a,b,c,ll,ul)

5

In [22]:
abs(-10)

10

# Derivative at a point

In [55]:
import math

def derivative(a):
    # a -> The value at which the derivativeâ€™s value needs to be calculated
    # output-> The value of derivative at x=a
    ans = None

    exp_plus_a = math.exp(a)
    exp_minus_a = math.exp(-a)
    derivative = 4 / pow((exp_plus_a + exp_minus_a), 2)

    ans = round(derivative, 4)

    return ans

In [56]:
derivative(4)

0.0013

In [49]:
pow(4, 2)

16

In [50]:
math.exp(2)

7.38905609893065

# Salary Check

In [64]:
class SalaryNotInRangeError(Exception):
    pass 

def check_salary(salary):
    try:
        if 10000 <= salary <= 100000:
            print("Congratulations!!")
        else:
            raise SalaryNotInRangeError
    except SalaryNotInRangeError as e:
        print("Salary is not in range")

In [69]:
check_salary(100001)

Salary is not in range